@charset utf-8;
	* {
	margin:0;
	padding:0;
}
#container1 {
	float:left;
	position:absolute;
	left:130px;
	z-index:0;
	width:88%;
	height:100%;
}
#container2 {
	float:left;
	position:absolute;
	left:102%;
	z-index:0;
	width:88%;
	height:100%;
}
#container3 {
	float:left;
	position:absolute;
	left:194%;
	z-index:0;
	width:88%;
	height:100%;
}
html,body {
	height:100%;
}
.sidebar {
	position:absolute;
	background:#005e99;
	height:100%;
	min-width:120px;
	float:left;
	z-index:999;
	font-family:'Microsoft YaHei','微软雅黑';
	font-size:0.8em;

}
.nav ul {

	text-decoration:none;
	list-style:none;
}
.nav li {
	list-style:none;
	text-align:center;
	line-height:40px;
	color:#fff;
	width:120px;
	height:40px;
	cursor:pointer;
	transition:ease-in 0.2s;
	-moz-transition:ease-in 0.2s;
	/* Firefox 4*/
	-webkit-transition:ease-in 0.2s;
	/* Safari and Chrome*/
	-o-transition:ease-in 0.2s;
	/* Opera*/
	
}
.nav li:hover {
	background:#002455;
}
ul.navlist {
	display:none;
}
.navlist li {
	background:#002455;
	position:relative;
	left:120px;
	top:-40px;
}
.navlist li:hover {
	background:#00162F;
}
.searchBar {
	position:relative;
}
.searchBox {
	font-family:'Microsoft YaHei','微软雅黑';
	font-size:0.8em;
	background:#333;
	width:400px;
	height:100%;
	position:absolute;
	left:-280px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	/* ie8*/
	filter:alpha(opacity=90);
	/* ie5-7*/
	opacity: 0.9;
	/* other*/
	z-index:99;
}
.boxContent {
	padding:15px;
	height:80%;
	z-index:100;
}
.searchResult {
	width:350px;
	margin-top:20px;
	height:80%;
	color:#FFF;
	overflow:auto;
	z-index:100;
}
.searchInput {
	width:300px;
	height:30px;
	z-index:10;
}
.btnSearch {
	padding:6px 20px;
	background:#06F;
	color:#FFF;
	cursor:pointer;
}
.arrow {
	width:30px;
	height:40px;
	line-height:40px;
	position:absolute;
	right:8px;
	bottom:0px;
	color:#fff;
	transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
}
.rotateArrow {
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
}
.setico{
position:absolute;
left:50px;
top:20px;
}
.mapBox {
	display:none;
	background:#333;
	width:70%;
	height:80%;
	float:left;
	position:absolute;
	left:200px;
	top:10%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	/* ie8*/
	filter:alpha(opacity=90);
	/* ie5-7*/
	opacity: 0.9;
	/* other*/
	z-index:200;
}
.searchLoading {
	position:absolute;
	left:160px;
	top:40%;
	color:#FFF;
	font-size:1em;
}
.searchItem {
	list-style:none;
	font-size:1em;
	margin:5px 0;
}
.submitItem {
	padding:6px 20px;
	background:#600;
	color:#FFF;
	cursor:pointer;
}
.shade {
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	z-index:1000;
	display:none;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	/* ie8*/
	filter:alpha(opacity=80);
	/* ie5-7*/
	opacity: 0.8;
	/* other*/
}
.dataLoading {
	position:absolute;
	left:40%;
	top:40%;
	color:#FFF;
	width:250px;
	height:72px;
}
.loadingText {
	position:absolute;
	right:0px;
	top:25px;
	font-family:'Microsoft YaHei','微软雅黑';
}
.setBox {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	/* ie8*/
	filter:alpha(opacity=90);
	/* ie5-7*/
	opacity: 0.9;
	/* other*/
	width:100%;
	height:0px;
	background:#000;
	position:fixed;
	bottom:0px;
	left:0;
	z-index:1001;
}
.setContent {
	display:none;
	padding:20px 0 0 140px;
	color:#FFF;
	font-size:0.9em;
}
.radioItem {
	margin:0 5px;
}
hotrank {
a:link {color: #FF0000} ;    /* 未访问的链接 */
a:visited {color: #00FF00};  /* 已访问的链接 */
a:hover {color: #FF00FF};    /* 当有鼠标悬停在链接上 */
a:active {color: #0000FF};  /* 被选择的链接 */
}
