<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd	
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-lazy-init="true" default-autowire="byName">

	<description>Spring public config</description>
	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired的属性被注入 -->
	<context:component-scan base-package="hhm.neha" />

	<!-- 声明aspectj动态代理，启用注解驱动的aspectj配置 -->
	<aop:aspectj-autoproxy />

	<!-- 数据库连接配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
	</bean>
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
		<property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=POA"></property>
		<property name="username" value="sa"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
  		<property name="mappingResources">
			<list>
				<value>hhm/neha/entity/hbm/mssql/AnalysisSearchList.hbm.xml</value>
				<value>hhm/neha/entity/hbm/mssql/EventList.hbm.xml</value>
				<value>hhm/neha/entity/hbm/mssql/PointMultipleDaily.hbm.xml</value>
				<value>hhm/neha/entity/hbm/mssql/PointMultipleHourly.hbm.xml</value>
				<value>hhm/neha/entity/hbm/mssql/PointMultipleRealTime.hbm.xml</value>
				<value>hhm/neha/entity/hbm/mssql/Content.hbm.xml
				</value>
			
			
			</list>
		</property>
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" abstract="false" autowire="default" >
    	<property name="basenames">
            <list>
                <value>hhm.neha.i18n.message</value>
            </list>
        </property>
    </bean>
    
	<!-- DAOS -->    
	<bean id="analysisSearchListDao" class="hhm.neha.dao.impl.AnalysisSearchListDaoImpl" abstract="false" lazy-init="default" autowire="default"></bean>
	<bean id="eventListDao" class="hhm.neha.dao.impl.EventListDaoImpl" abstract="false" lazy-init="default" autowire="default"></bean>
	<bean id="pointMultipleDailyDao" class="hhm.neha.dao.impl.PointMultipleDailyDaoImpl" abstract="false" lazy-init="default" autowire="default"></bean>
	<bean id="pointMultipleHourlyDao" class="hhm.neha.dao.impl.PointMultipleHourlyDaoImpl" abstract="false" lazy-init="default" autowire="default"></bean>
	<bean id="pointMultipleRealTimeDao" class="hhm.neha.dao.impl.PointMultipleRealTimeDaoImpl" abstract="false" lazy-init="default" autowire="default"></bean>
	
	<bean id="contentDao" class="hhm.neha.area.dao.impl.ContentDaoImpl"
		abstract="false" lazy-init="default" autowire="default">

	</bean>
	<!-- SERVICES -->
	<bean id="analysisSearchListService" class="hhm.neha.service.impl.AnalysisSearchListServiceImpl" abstract="false" lazy-init="default" autowire="default"></bean>
	<bean id="eventListService" class="hhm.neha.service.impl.EventListServiceImpl" abstract="false" lazy-init="default" autowire="default"></bean>
	<bean id="pointMultipleDailyService" class="hhm.neha.service.impl.PointMultipleDailyServiceImpl" abstract="false" lazy-init="default" autowire="default"></bean>
	<bean id="pointMultipleHourlyService" class="hhm.neha.service.impl.PointMultipleHourlyServiceImpl" abstract="false" lazy-init="default" autowire="default"></bean>
	<bean id="pointMultipleRealTimeService" class="hhm.neha.service.impl.PointMultipleRealTimeServiceImpl" abstract="false" lazy-init="default" autowire="default"></bean>
		<bean id="contentService" class="hhm.neha.area.service.impl.ContentServiceImpl"
		abstract="false" lazy-init="default" autowire="default"></bean>
	
	
</beans>